In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("multiple_linear_regression_dataset.csv")

In [5]:
data.shape

(20, 3)

In [6]:
data.head()

   age  experience  income
0   25           1   30450
1   30           3   35670
2   47           2   31580
3   32           5   40130
4   43          10   47830

In [7]:
X = data[["age", "experience"]]
y = data["income"]

In [8]:
n_features = X.shape[1]

w = np.zeros(n_features)
b = 0.0

In [9]:
def predict(X, w, b):
    return X.dot(w) + b
def mean_squared_error(y, y_hat):
    return ((y_hat - y) ** 2).mean()
def compute_gradients(X, y, y_hat):
    N =len(y)
    dw= (2 / N) * X.T.dot(y_hat- y)
    db=(2 / N) * (y_hat - y).sum()
    return dw, db
def update_parameters(w, b, dw, db, lr):
    w =w-lr * dw
    b=b-lr * db
    return w, b

In [10]:
lr = 0.0001
epochs = 1000

for epoch in range(epochs):
    y_hat = predict(X, w, b)
    loss = mean_squared_error(y, y_hat)
    dw, db = compute_gradients(X, y, y_hat)
    w, b = update_parameters(w, b, dw, db, lr)

    if epoch % 100 == 0:
        print(f"Epoch {epoch}, Loss: {loss}")

Epoch 0, Loss: 1727049635.0
Epoch 100, Loss: 66491868.55311352
Epoch 200, Loss: 61752567.201190114
Epoch 300, Loss: 58616531.07847049
Epoch 400, Loss: 56528801.53951118
Epoch 500, Loss: 55126542.02946697
Epoch 600, Loss: 54172526.94885703
Epoch 700, Loss: 53511656.14292054
Epoch 800, Loss: 53042523.72795741
Epoch 900, Loss: 52698829.56325033

In [11]:
print("Final Weights:", w)
print("Final Bias:", b)

new_person = np.array([35, 6])
predicted_income = new_person.dot(w) + b

print("Predicted Income:", predicted_income)

Final Weights: age            764.754059
experience    1371.034304
dtype: float64
Final Bias: 321.73641174472493
Predicted Income: 35314.33430986123